* {
    box-sizing: border-box;
}

*:not(pre):not(code) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    font-size: 16px;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
    font-weight: 500;
}
th, td {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
}
.red {
    background: #ffcccc;
    color: #cc0000;
    font-weight: 500;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}
dt, dd {
    display: inline-block;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
}
dt:not(:last-of-type), dd:not(:last-of-type) {
    border-bottom: 1px solid rgb(230, 230, 230);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0 0 10px 0;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;

    height: 45px;
    line-height: 45px;
    padding: 0 10px;
}

header h1 {
    font-weight: 400;
    font-size: 18px;
}

nav {
    background: rgba(242, 242, 242, 0.7);
    height: 45px;
    line-height: 45px;
}
    nav ul {
        margin: 0;
        padding: 0;
    }
    #nav-list {
        display: flex;
        justify-content: center;
    }
    nav li {
        color: #333;
        display: block;
        font-size: 14px;
        padding: 0 10px;
    }
    #nav-list li:not(.active) {
        cursor: pointer;
    }
    #nav-list li:not(.active):hover {
        color: #aaa;
    }
    #nav-list li.active {
        color: #aaa;
    }
    #nav-tests-list-container {
        display: flex;
        align-items: center;
    }
    #nav-tests-list {
        border-bottom: 2px solid #ccc;

        margin-left: 12px;
        height: 24px;
        width: 150px;

        z-index: 100;
    }
    #nav-tests-list.open {
        cursor: default;
    }
    #nav-tests-list > li {
        height: 24px;
        line-height: 24px;
    }
    #nav-tests-list.open > li {
        background: #F0F0F0;
        text-indent: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #nav-tests-list:not(.open) > li:not(.active) {
        display: none;
    }
    #nav-tests-list:not(.open) > li.active {
        color: #555;
    }

header > h1 > span {
    color: #aaa;
}

main {
    padding: 20px;
}

article:not(:target) {
    display: none;
}

section {
    margin-bottom: 15px;
}

.flex {
    display: flex;
    width: 100%;
}
.flex > * {
    flex-grow: 1;
    padding: 12px;
}
.flex > *:first-child {
    padding-left: 0;
}
.flex > *:last-child {
    padding-right: 0;
}
